<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>oceo</title>
    
    <!--font-->
  <!--  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="/static/main.css">
   
    <!-- boos-->
  <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!--srcollrev-->
   <!-- <script src="https://unpkg.com/scrollreveal"></script>-->
</head>
<body>
    <p id="c" >hola aa mundo</p>
   
  
    
</body>
 
<!-- <script src="static/js/jquery.js"></script>
 <script src="static/js/bootstrap.js"></script>-->
</html>